pre
  border-left 2px solid #ccc
  padding 10px 10px 10px 15px
  width 100%
  overflow-x scroll
  font-family Helvetica

a > code,
h3 > code
  padding 5px

pre,
a > code,
h3 > code
  background-color #f9f9f9
